<h1>Listing song_contents</h1>

<table>
  <thead>
    <tr>
      <th>Origin url</th>
      <th>Singer</th>
      <th>Album title</th>
      <th>Song title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @song_contents.each do |song_content| %>
      <tr>
        <td><%= song_content.origin_url %></td>
        <td><%= song_content.singer %></td>
        <td><%= song_content.album_title %></td>
        <td><%= song_content.song_title %></td>
        <td><%= song_content.content %></td>
        <td><%= link_to 'Show', song_content %></td>
        <td><%= link_to 'Edit', edit_song_content_path(song_content) %></td>
        <td><%= link_to 'Destroy', song_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song content', new_song_content_path %>
