<%= form_for(@daum_album) do |f| %>
  <% if @daum_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daum_album.errors.count, "error") %> prohibited this daum_album from being saved:</h2>

      <ul>
      <% @daum_album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image_name %><br>
    <%= f.text_field :image_name %>
  </div>
  <div class="field">
    <%= f.label :review_writer %><br>
    <%= f.text_field :review_writer %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
